<div class="container">
<h1>Bienvenido</h1>
<p> Estas son tus tareas </p>
  <div class="row">
   <% @todos.each_slice(4) do |row| %>
    <% row.each do |todo| %>
      <div class="col">
        <div class="card">
          <%= image_tag todo.photo, class: 'card-img-top' %>
          <h3> <%= todo.name%> </h3>
          <p> <%= todo.description%> </p>
          <%= link_to "Task", todo_estados_path(todo), class:'btn btn-success', method: :post%>
        </div>
      </div>
     <% end %>
     <div class="w-100" style="margin-top:20px"></div>
   <% end %>
  </div>
</div>
